tstrom
*.exe
*.dll
*.obj
*.o
*.hpp.gch
*.sfc
*.sym
*.bin
*.txt
*.asm
*.vim
*.vcproj
*.sln
*.ncb
*.suo
*.user

*~
.*~
*.swp
*.swo
*.tmp
\#*\#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.tags
tags
.Trashes
Icon?
ehthumbs.db
Thumbs.db
